.sedes {
    background-color: #141414;

}

.sedes h1 {
    font-size: 3rem;
    margin-top: ;
    text-align: center;
    background-color: #af7c0dcb;
    background-image: linear-gradient(to top, white 0%, #af7c0dcb 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.sedes_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__sede {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    padding: 3rem;
    margin: 2rem;
}

.titulo__sede {
    margin-bottom: 2.5rem;
    font-size: 30px;
    color: antiquewhite;
}



.box_tres {
    background-color: rgb(60, 141, 22);
    padding: 40px;
    margin: 40px;
    width: 1000px;
    height: 200px;
    border-radius: 15px;
}

.box_cuatro {
    background-color: rgb(60, 141, 22);
    padding: 40px;
    margin: 40px;
    width: 1000px;
    height: 300px;
    border-radius: 15px;
}

figcaption {
    margin-top: 3rem;
}

figcaption p {
    font-size: 20px;
    word-spacing: 5px;
    letter-spacing: 3px;
    text-align: justify;
    color: #f6fcf3cb;
}

.imagen__sede {
    width: 1000px;
    height: 500px;
    border-radius: 15px;
}
